* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/********** General Styles ****************/
body {
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-size: .8rem;
  line-height: 0.9rem;
}

h2 {
    font-family: signo, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #059eb1;
    text-transform: uppercase;
}

.cta {
  background-color: #059eb1;
  color: white; 
  font-family: signo, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: .9rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px; 
  display: block;
  width: 46%;
  text-align: center;
}

/********** Header Styles ****************/
header {
    width: 100%;
    /* display: flex;  */
}

.logo {
    width: 80%;
    padding: 15px 0; 
}

/********** Hamburger Menu Start ****************/
.ham {
    position: absolute;
    z-index: 100;
    top: 1.5rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

.cross {
    display: none;
    color: white;
    font-size: 3em; 

  }

.menu {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color:  #059eb1; 
    transform: translateY(-100%);
    transition: transform 0.2s;
    list-style: none;
    padding-top: 4rem;
  }

.hamburger{
    color:#949398;
    font-size: 1.4em;
    font-weight: bold;
  }

.showMenu {
    transform: translateY(0);
  }

li {
    padding: 1rem 2.5rem;
  }
  
.menuLink {
    display: inline;
    font-size: 2rem;
    color: white; 
    text-decoration: none;
  }

.menuLink:hover {
    text-decoration: underline;
  }

.sub-menu li { 
  padding: 0 0 1rem 4rem;
}

.sub-menu li a {
  color: white; 
  text-decoration: none;
}

/********** Hamburger Menu End ****************/

.hero-wrapper {
  background-image: url(../images/home_header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 240px;
  width: 100%;
}

.hero-text {
  width: 53%;
  position: absolute;
  top: 50%;
  left: 69%;
  transform: translate(-50%, -50%);
}

/********** Main Section Styles ****************/

.container {
  width: 92%; 
  padding: 4%; 
}

.cta2 {
  width: 35%; 
  margin: 30px 0 40px 0; 
}

.container img {
  width: 75%; 
  margin: auto;
}

.meet {
  margin: auto; 
}

.meet a {
  display: block;
  color: #949398;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 5px 0 40px 10px; 
}


/********** Footer Styles ****************/
footer {
  background-color: #059eb1;
  color: white;
  text-align: center;
}

.social-logo {
  width: 40px;
  padding: 20px 10px; 
}

.center {
  display: flex; 
  justify-content: center;
}

footer p {
  font-size: 0.7rem;
  padding-bottom: 15px; 
}







